<!-- wp:template-part {"slug":"header","theme":"ai-enterprise","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:pattern {"slug":"ai-enterprise/banner"} /-->

<!-- wp:group {"tagName":"main","className":"manufacturing-main-section","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"80px"}}},"layout":{"type":"constrained","contentSize":"80%"}} -->
<main class="wp-block-group manufacturing-main-section" style="margin-top:0;margin-bottom:80px"><!-- wp:pattern {"slug":"ai-enterprise/service-section"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"ai-enterprise/about-section"} /-->

<!-- wp:pattern {"slug":"ai-enterprise/testimonial"} /-->

<!-- wp:pattern {"slug":"ai-enterprise/faq-section"} /-->

<!-- wp:pattern {"slug":"ai-enterprise/latest-news"} /-->

<!-- wp:template-part {"slug":"footer","theme":"ai-enterprise","tagName":"footer","className":"custom-footer-class"} /-->