<!-- wp:template-part {"slug":"header","theme":"ai-enterprise","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"ai-enterprise/page-title"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"90%"}} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"ai-enterprise/cart"} /-->

</main>
<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ai-enterprise","tagName":"footer","className":"custom-footer-class"} /-->